.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
  text-decoration: none;
}
.btn-special-animation::before {
  position: absolute;
  display: block;
  content: "";
  top: -10%;
  left: 0;
  width: 100%;
  height: 110%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scale(1);
  transform-origin: left;
}

.section-heading {
  position: relative;
  font-size: 3rem;
  margin-bottom: 2em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #1755e7;
  letter-spacing: 2px;
}

.section-pading {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-pading {
    padding: 8em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-pading {
    padding: 10em 2em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 2;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::before, .burger-btn:hover .burger-btn__bars::after {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  transition: width 0.3s 0s;
  width: 100%;
  top: 0%;
}
.burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  transition: width 0.3s 0s;
  width: 60%;
  top: 450%;
}
.burger-btn__bars::after {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  transition: width 0.3s 0.1s;
  width: 30%;
  top: 900%;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
  z-index: 1;
  transform: translateX(100%);
  transition: transform 1s;
}
.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 250px 0;
}
.nav--active {
  transform: translateX(0);
}
.nav-item {
  position: relative;
  color: #fff;
  font-size: 2.8rem;
  text-decoration: none;
}
.nav-item__title {
  font-size: 3.6rem;
}
.nav-item::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  left: -20%;
  transform: scaleY(0);
  background-color: #fff;
  transition: transform 0.3s;
}
.nav-item:hover::before {
  transform: scaleY(1);
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1s 1s both;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  padding: 2em;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/TropicalSmal.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 4.8rem;
  font-weight: 300;
}
.header__text {
  font-size: 1.4rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #2e2e2e;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}

.dreams__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.dreams__box-img {
  margin-bottom: 1em;
}
.dreams__box-img img {
  width: 100%;
}
.dreams__title {
  margin-bottom: 0.5em;
}
.dreams__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/polynesiaSmal.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.hero-img__title {
  font-family: "Dancing Script", cursive;
  margin-bottom: 0.5em;
  font-size: 4.8rem;
}
.hero-img__text {
  padding: 1em 0;
}

.islands__cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.islands__card {
  position: relative;
  margin: 1em 2em;
  height: 450px;
  width: 300px;
  color: #fff;
  perspective: 1000px;
}
.islands__card-img {
  position: relative;
  padding: 2em;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  transition: transform 1s, opacity 1s;
}
.islands__card-img--first {
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url("../img/waterSmall.jpg");
}
.islands__card-img--second {
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/boatSmal.jpg");
}
.islands__card-img--third {
  background-image: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75)), url("../img/hawaiiSmal.jpg");
}
.islands__card-img-title {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.islands__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
}
.islands__card-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  border-radius: 8px;
  background-image: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
  transform: rotateY(180deg);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.islands__card-info-title {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.islands__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}
.islands__card-info-list-item {
  padding: 1em 0;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
}
.islands__card-info-list-item:not(:nth-child(5)) {
  border-bottom: 1px solid #eee;
}
.islands__card-info-btn {
  margin: 0 auto;
  width: 80%;
  padding: 1em;
  border-radius: 8px;
  border: none;
  background-color: #00ffaa;
  cursor: pointer;
}
.islands__card-info-btn::before {
  background-color: #0fe29c;
}
.islands__card:hover > .islands__card-img {
  transform: rotateY(-180deg);
  opacity: 0;
}
.islands__card:hover > .islands__card-info {
  transform: rotateY(0);
  opacity: 1;
}

.offers {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/polynesiaSmal.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.offers .section-heading {
  color: #fff;
}
.offers__option {
  margin: 1em 0;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.1803921569);
  background-color: #fff;
  overflow: hidden;
}
.offers__option-img {
  width: 100%;
  transition: transform 0.3s;
}
.offers__option-img:hover {
  transform: scale(1.1);
}
.offers__option-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  background-color: #fff;
  z-index: 0;
}
.offers__option-heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 300;
}
.offers__option-text {
  margin-bottom: 0.5em;
  font-size: 1.3rem;
  color: #2e2e2e;
}
.offers__option-btn {
  margin-top: 1em;
  padding: 0.8em;
  width: 100%;
  color: #fff;
  background-color: #1755e7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.offers__option-btn::before {
  background-color: #164dcc;
}

.reviews__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
  transition: transform 0.3s;
}
.reviews__box:hover {
  transform: scale(105%);
}
.reviews__box-img {
  position: absolute;
  top: 8%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.reviews__box-img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.reviews__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
  color: #1755e7;
}
.reviews__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #2e2e2e;
}

@media (max-width: 767px) {
  .reviews.section-pading {
    padding: 6em 0px;
  }
}
.contact {
  position: relative;
  background-color: #eee;
  overflow: hidden;
}
.contact .white-block-left {
  background-color: #2e2e2e;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  width: 100%;
  min-height: 150px;
}
.contact .btn-special-animation {
  width: 100%;
  max-width: 300px;
  padding: 1em;
  align-self: flex-end;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #1755e7;
  cursor: pointer;
}
.contact .btn-special-animation::before {
  background-color: #164dcc;
}

@media (min-width: 576px) {
  .dreams__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .dreams__box-text {
    width: 55%;
  }
  .dreams__box-text--right {
    text-align: right;
  }
  .dreams__box-img {
    width: 40%;
  }
  .dreams__box-img--right {
    order: 1;
  }
  .offers__option {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .offers__option-img {
    width: 50%;
    height: auto;
  }
  .offers__option-img--right {
    order: 1;
  }
  .offers__option-heading {
    margin-bottom: 0.5em;
  }
  .offers__option-btn {
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .dreams__text {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30rem 2em;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 70%;
  }
  .hero-img__text {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/TropicalBig.jpg");
    background-position-y: -100px;
  }
  .header__heading {
    font-size: 10rem;
  }
  .dreams__box {
    margin: 5em 0;
  }
  .dreams__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .dreams__title {
    font-size: 3.6rem;
  }
  .dreams__text {
    font-size: 2.2rem;
  }
  .hero-img {
    padding: 40rem 2em;
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/polynesiaBig.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .hero-img__title {
    font-size: 7.2rem;
  }
  .hero-img hr {
    width: 60%;
    max-width: 900px;
  }
  .offers {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/polynesiaBig.jpg");
  }
  .offers__option {
    max-height: 300px;
  }
  .offers__option-img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .offers__option-heading {
    font-size: 3rem;
  }
  .offers__option-text {
    font-size: 1.5rem;
  }
}
.slick-prev:before,
.slick-next:before {
  opacity: 0.75;
  color: #1755e7;
}/*# sourceMappingURL=main.css.map */