@use './colors' as *;
@mixin burgerBtn($width: 0%, $top: 0%, $delay: 0s) {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: $pure-white;
	transition: width 0.3s $delay;
	width: $width;
	top: $top;
}
@mixin heroImages($bgImg: url('path to photo')) {
	background-image: $blue-gradient, $bgImg; //Połączenie gradiendu ze zdjęciem
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
